{{!-- 結果頁面 --}}

<div class="container">
  <h1>Success! Please use this link:</h1>
  <a class="fs-2 text-info" href="./urls/{{stringForNew}}" id="shortenURL">{{origin}}/{{stringForNew}}</a>
  <div>
    <button class="mt-3 btn btn btn-outline-dark" onclick="copy()">Copy!</button>
  </div>
  {{!-- 新增複製URL功能 --}}
  <script>
    function copy() {
      const URL = document.querySelector("#shortenURL")
      navigator.clipboard.writeText(URL.innerText)
        .then(() => alert('The URL is Copied!'))
        .catch(error => console.log(error))
    }
  </script>
  
</div>