<div class="container">
  <h1>Success! Please use this link:</h1>
  <a href="/{{stringForNew}}">https://url-shortener.herokuapp.com/{{stringForNew}}</a>
  <p>https://url-shortener.herokuapp.com/{{stringForNew}}</p>
</div>